<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022432322315-5q1qoi9p4p23pt1h35ceqm3co53u099n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022432322315-5q1qoi9p4p23pt1h35ceqm3co53u099n</string>
	<key>API_KEY</key>
	<string>AIzaSyC0CYLzFHJjjvEh2yELi28bXwTBIX-MmtA</string>
	<key>GCM_SENDER_ID</key>
	<string>1022432322315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-36931</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-36931.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022432322315:ios:8cfbfb873039cb0d44380e</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-36931-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>